{% extends 'core/base.html' %}

{% block title %}Title{% endblock %}

{% block content %}
<div style="margin-top: 75px; margin-right: 40px; margin-left: 40px">
  <h2 class="font-bold">About ReactJS</h2>
  <p>
    A well-liked JavaScript library for creating user interfaces, especially for
    single-page apps, is called ReactJS. React is a Facebook project that uses a
    component-based architecture to make the process of developing interactive
    user interfaces easier. Reusable components can be combined to create
    intricate user interfaces.The virtual DOM (Document Object Model), one of
    React's primary features, enhances efficiency by reducing the number of
    updates to the real DOM. React speeds up rendering by comparing the virtual
    and actual DOMs when a component's state changes and only updating the
    relevant elements.Additionally, React encourages declarative programming, in
    which programmers define the UI's appearance based on the state of the
    application, as opposed to forcing changes to the DOM. his makes the code
    more predictable and easier to understand. React's ecosystem includes tools
    like React Router for managing routes, Redux for managing application state,
    and React Native for building native mobile applications. It also has a
    large and active community, with a wealth of third-party libraries and
    resources available to help developers build powerful and efficient web
    applications.
  </p>
  <h2 class="font-bold">About Django</h2>
  <p>
    Django is a powerful and high-level open-source web framework written in
    Python. It was created with the aim of simplifying and accelerating the
    development of web applications. Django follows the "batteries-included"
    philosophy, which means it provides a wide array of built-in features and
    tools to make web development easier and more efficient. One of Django's
    standout features is its robust and secure authentication system, which
    allows developers to handle user authentication and authorization
    effortlessly. It also includes an Object-Relational Mapping (ORM) system
    that abstracts database interactions, enabling developers to work with
    databases using Python classes and objects, rather than writing SQL queries
    directly. Django follows the Model-View-Controller (MVC) architectural
    pattern, or more precisely, the Model-View-Template (MVT) pattern. This
    separation of concerns makes it easier to maintain and scale applications.
    Additionally, Django's templating engine simplifies the creation of dynamic
    and reusable HTML templates. Django's ecosystem is rich with reusable
    components and packages known as "Django apps" that can be integrated into
    projects. It also has an active and supportive community, making it easy to
    find documentation, tutorials, and assistance. With Django, developers can
    rapidly build secure, scalable, and feature-rich web applications, making it
    an ideal choice for startups, enterprises, and individual developers alike.
    Its versatility, strong community support, and emphasis on best practices
    have made it a preferred framework for web development.
  </p>
</div>

{% endblock %}
