{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container" style="margin-top: 75px;">
    <h1 class="text-center">Contact Us</h1>
    <p class="text-center">We'd love to hear from you:</p>
    
    <div class="contact-details">
      <h2><b><u>Our Contact Details</u> :-</b></h2>
      <p><strong>Name:</strong>Pushpam Priya</p>
      <p><strong>Email:</strong> pushpam.priyaa@gmail.com</p>
      <p><strong>Skills</strong> Python, Django, MySql, ReactJS </p>
    </div>
    <div class="contact-details">
      <h2>-----------------------------------------------------------------------</h2>
      <p><strong>Name:</strong>Hari Om Gupta</p>
      <p><strong>Email:</strong>hariom.gupta.cs24@iilmcet.ac.in</p>
      <!-- <p><strong>Skills</strong> Python, Django, MySql, ReactJS </p> -->
    </div>
    <div class="contact-details">
      <h2>-----------------------------------------------------------------------</h2>
      <p><strong>Name:</strong>Anjali Choudhary</p>
      <p><strong>Email:</strong> anjali.choudhary.cs24@iilmcet.ac.in</p>
      <!-- <p><strong>Skills</strong> Python, Django, MySql, ReactJS </p> -->
    </div>
    <div class="contact-details">
      <h2>-----------------------------------------------------------------------</h2>
      <p><strong>Name:</strong>Manmohan Gupta</p>
      <p><strong>Email:</strong>manmohan.gupta.cs24@iilmcet.ac.in</p>
      <!-- <p><strong>Skills</strong> Python, Django, MySql, ReactJS </p> -->
    </div>
  </div>
{% endblock %}